@import "_variables.scss";

.about {
	background-color: #00bbbb;
	position: relative;
	height: 85vh;
	color: $white;
	overflow: hidden;

	&__container {
		height: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__bg {
		display: inline-block;
		width: 57%;
		height: 100%;
		background: url(../images/about-bg.png) no-repeat;
		background-position: left;
		background-size: contain;
	}

	&__content {
		width: 43%;
		display: inline-block;
		margin-top: -50px;
	}

	&__title {
		@include title;
	}

	&__txt {
		font-size: 17px;
	}
}
