@import "_variables.scss";

.header {
	position: relative;
	// height: 115vh;
	background: url(../images/header-bg.png) no-repeat;
	background-position: center;
	background-size: cover;
	overflow: hidden;

	&__menu {
		padding: 3% 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__logo {
		width: 45%;
	}

	&__nav {
		width: 50%;
		display: flex;
		justify-content: space-between;
	}

	&__ref {
		text-transform: uppercase;
		color: $black;
		font-weight: bold;
		border-top: 3px solid transparent;
		@include transition;

		&:hover {
			text-decoration: none;
			color: inherit;
			border-top-color: $corale;
			@include transition;
		}
	}

	&__content {
		margin: 10% 0 30%;
		padding: 0;
	}

	&__title {
		font-weight: 900;
		text-transform: capitalize;
		font-size: 60px;
	}

	&__txt {
		font-size: 17px;
	}

	&__btn {
		width: 50%;
		@include btn;
		@include transition;

		&:hover {
			background-color: $corale;
			@include transition;
		}
		&:focus {
			outline: none;
		}
		&:active {
			background-color: #8d131d;
		}
	}

	&__scroll {
		width: 24px;
		position: absolute;
		bottom: 8%;
		left: 50%;
		transform: translateX(-50%);
	}
}
