@import "_variables.scss";

.services {
	background-color: $services-color;
	position: relative;
	height: 95vh;

	&__container {
		height: 100%;
		display: flex;
		justify-content: space-between;
	}

	&__items {
		position: relative;
		left: 7%;
		width: 35%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__itm {
		width: 100%;
		height: 13%;
		background-color: $white;
		box-shadow: 0 2px 3px 0 #223a4d;
		margin: 10px 0;
		padding: 10px;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		display: flex;
		justify-content: space-around;
		align-items: center;
		cursor: pointer;
		@include transition;

		&:hover {
			background-color: $corale;
			color: $white;
			@include transition;
		}

		&:hover .services__icon {
			filter: brightness(6);
			@include transition;
		}
	}

	&__lbl {
		margin: 0;
		display: inline-block;
		width: 70%;
	}

	&__icon {
		width: 12%;
		@include transition;
	}

	&__bg {
		position: relative;
		background: url(../images/services-bg.png) no-repeat;
		background-position: right;
		background-size: 75%;
		width: 50%;
	}

	&__title {
		font-size: 90px;
		font-weight: bold;
		text-transform: capitalize;
		color: $white;
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
}
