$black: #262626;
$white: #fff;
$corale: #ff6033;

@mixin transition {
	transition: all .3s ease;
}

@mixin title {
	font-size: 90px;
	font-weight: bold;
	text-transform: capitalize;
}

@mixin btn {
	padding: 10px;
	border: none;
	background-color: $black;
	box-shadow: 0 1px 5px 0 $black;
	color: $white;
	font-size: 20px;
	text-transform: uppercase;
}


